{% extends 'base.html' %}
{% block contenido %}
<!--body productos-->
<main class="bodyProductos">
    <h1 class="title">Productos</h1>
    <h2 class="subtitle" id="mates">Mates</h2>
    <!--mates-->
    <div class="productosMates">
        {%for producto in productos%}
            {% if producto.category == 'mate' %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ producto.image.url }}" class="img-fluid rounded-start" alt="{{producto.name}}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">{{producto.name}}</h5>
                    <p class="card-text">{{producto.description}}</p>
                    <p class="card-text cardPrice"><small class="text-muted">${{producto.price}}</small></p>
                    <a href="#" class="btn btn-primary">comprar</a>
                    </div>
                </div>
                </div>
            </div>
            {%endif%}
        {%endfor%}
    </div>
    <!--termos-->
    <h2 class="subtitle" id="termos">Termos</h2>

    
    <div class="productosTermos">
        {%for producto in productos%}
            {% if producto.category == 'termo' %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ producto.image.url }}" class="img-fluid rounded-start" alt="{{producto.name}}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">{{producto.name}}</h5>
                    <p class="card-text">{{producto.description}}</p>
                    <p class="card-text cardPrice"><small class="text-muted">${{producto.price}}</small></p>
                    <a href="#" class="btn btn-primary">comprar</a>
                    </div>
                </div>
                </div>
            </div>
            {%endif%}
        {%endfor%}
    </div>
    <!--combos-->
    <h2 class="subtitle" id="combos">Combos</h2>
    <div class="productosCombos">
        {%for producto in productos%}
            {% if producto.category == 'combo' %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ producto.image.url }}" class="img-fluid rounded-start" alt="{{producto.name}}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">{{producto.name}}</h5>
                    <p class="card-text">{{producto.description}}</p>
                    <p class="card-text cardPrice"><small class="text-muted">${{producto.price}}</small></p>
                    <a href="#" class="btn btn-primary">comprar</a>
                    </div>
                </div>
                </div>
            </div>
            {%endif%}
        {%endfor%}
    </div>
    <!--bombillas-->
    <h2 class="subtitle" id="bombillas">Bombillas</h2>
    <div class="productosBombillas">
        {%for producto in productos%}
            {% if producto.category == 'bombilla' %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ producto.image.url }}" class="img-fluid rounded-start" alt="{{producto.name}}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                    <h5 class="card-title">{{producto.name}}</h5>
                    <p class="card-text">{{producto.description}}</p>
                    <p class="card-text cardPrice"><small class="text-muted">${{producto.price}}</small></p>
                    <a href="#" class="btn btn-primary">comprar</a>
                    </div>
                </div>
                </div>
            </div>
            {%endif%}
        {%endfor%}                    
    </div>
</main>
{%endblock%}