{% extend base.html %}
{% block contenido %}
<!--body productos-->
<main class="bodyProductos">
    <h1 class="title">Productos</h1>
    <h2 class="subtitle" id="mates">Mates</h2>
    <!--mates-->
    <div class="productosMates">
        {%for producto in productos%}
            {% if producto.category == 'mate' %}
            <div class="card">
                <div class="cardImg">
                    <img src="{{ producto.image.url }}" alt="{{producto.name}}">
                </div>
                <div class="cardBody">
                    <h3 class="cardTitle">
                        {{producto.name}} 
                    </h3>
                    <p class="cardText">
                        {{producto.description}}
                    </p>
                    <p class="cardPrice">${{producto.price}}</p>
                </div>
            </div>
            {%endif%}
        {%endfor%}
    </div>
    <!--termos-->
    <h2 class="subtitle" id="termos">Termos</h2>

    
    <div class="productosTermos">
        {%for producto in productos%}
            {% if producto.category == 'termo' %}
            <div class="card">
                <div class="cardImg">
                    <img src="{{ producto.image.url }}" alt="{{producto.name}}">
                </div>
                <div class="cardBody">
                    <h3 class="cardTitle">
                        {{producto.name}} 
                    </h3>
                    <p class="cardText">
                        {{producto.description}}
                    </p>
                    <p class="cardPrice">${{producto.price}}</p>
                </div>
            </div>
            {%endif%}
        {%endfor%}
    </div>
    <!--combos-->
    <h2 class="subtitle" id="combos">Combos</h2>
    <div class="productosCombos">
        {%for producto in productos%}
            {% if producto.category == 'combo' %}
            <div class="card">
                <div class="cardImg">
                    <img src="{{ producto.image.url }}" alt="{{producto.name}}">
                </div>
                <div class="cardBody">
                    <h3 class="cardTitle">
                        {{producto.name}} 
                    </h3>
                    <p class="cardText">
                        {{producto.description}}
                    </p>
                    <p class="cardPrice">${{producto.price}}</p>
                </div>
            </div>
            {%endif%}
        {%endfor%}
    </div>
    <!--bombillas-->
    <h2 class="subtitle" id="bombillas">Bombillas</h2>
    <div class="productosBombillas">
        {%for producto in productos%}
            {% if producto.category == 'bombilla' %}
            <div class="card">
                <div class="cardImg">
                    <img src="{{ producto.image.url }}" alt="{{producto.name}}">
                </div>
                <div class="cardBody">
                    <h3 class="cardTitle">
                        {{producto.name}} 
                    </h3>
                    <p class="cardText">
                        {{producto.description}}
                    </p>
                    <p class="cardPrice">${{producto.price}}</p>
                </div>
            </div>
            {%endif%}
        {%endfor%}                    
    </div>
</main>
{%endblock%}